# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/x64/Release
/ALG_Lesson_4.vcxproj.user
/ALG_Lesson_4.vcxproj.filters
/ALG_Lesson_4.vcxproj
/ALG_Lesson_4.sln
/.vs
